<h2>Analyse financière</h2>

Les chiffres de la société <%= current_user.use_name %> sont les suivants :

Chiffres  :   Données

Chiffre d' affaires : <%= @comptabilite.chiffre_affaire %>

Seuil de rentabilité  :  <%= comptabilite.seuil_rentabilite %>




