// Define variables for your color scheme

// For example:
$body-background: #f0f1f2;
$red: #fd1015;
// $blue: #167ffb;
$blue: #0061f2;
$yellow: #ffc65a;
// $orange: #e67e22;
$orange: #edae2f;
// $green: #1edd88;
// $green: #92ddc8;
$green: #83c6b4;

$gray: #0e0000;
$light-gray: #f4f4f4;
