// Specific CSS for your home-page

#col {
  padding: 150px;
  top: 25px;
  line-height: 100px;
}

#cadre {
  padding: 100px;
}

#title-middle {
  text-align: center;
}

#frame {
  background-color: #dcebf9;
  font-color: white;
}

#pub {
  background-color: #dcdcdc;
  height: 250px;
  padding: 75px;
}

#frame-fluid {
  background-color: #dcebf9;
  text-align: center;
}

#pub {
  background-color: #dcdcdc;
  height: 250px;
  padding: 75px;
}
