// Specific CSS for your home-page

// #col {
//   padding: 150px;
//   top: 25px;
//   line-height: 100px;
// }

#cadre {
  padding: 100px;
}

#title-middle {
  text-align: center;
}

#h4 {
  text-align: center;
}

#frame {
  background-color: #dcebf9;
  font-color: white;
  height: 450px;
  margin-top: 10vh;
}

#pub {
  background-color: #dcdcdc;
  height: 250px;
  padding: 75px;
}

#frame_fluid {
  background-color: #dcebf9;
  text-align: center;
  padding: 20px;
  height: 700px;
}

#pub {
  background-color: #de6e6e5;
  height: 250px;
  padding: 75px;
}

#frame_one {
  padding: 25px;
  position: center;
  margin: 0 auto;
  width: 100px;
  padding-top: 100px;
}

#frame_fluid {
  padding: 40px;
}

#new_letter {
  padding: 40px 70px 40px 40px;
}

#dashboard {
  padding: 40px;
  padding-top: 40px;
}

#text {
  height:90px;
}

#newsletter{
  padding-top:20px;
}
