// Specific CSS for your home-page

.col-8 {
   padding: 150px;
   top:25px;
   line-height: 100px;
}

.container-fluid bg-grey {
  text-align: center;
}

.row {
  padding:100px;
}

h4{
  text-align:center;
}

.presentation {
  text-align:center;
}


