#sign-up {
  padding-top: 10vh;
}

.sign-up-container {
  padding: 100px 90px 10px 90px;
}

.sign-up-container > h1 {
  color: #edae2f;
  padding-bottom: 5vh;
}
#user_email {
  border: none;
  width: 100%;
}
#user_password {
  border: none;
  width: 100%;
}

#user_password_confirmation {
  border: none;
  width: 100%;
}

#sign-up-btn {
  width: 100%;
}
