#sign-up {
  padding-top: 10vh;
}

#svg {
  padding-top: 10vh;
  // padding-left: 50px;
}

#login-container {
  padding-bottom: 0px;
  // min-height: 82vh;
}
#sign-container {
  padding-bottom: 0px;
  min-height: 82vh;
}
.sign-up-container {
  padding: 8vh 90px 0px 90px;
}

.sign-up-container > h1 {
  color: #edae2f;
  padding-bottom: 5vh;
}
.login-container {
  padding: 8vh 90px 0px 90px;
}

.login-container > h1 {
  color: #edae2f;
  padding-bottom: 5vh;
}
#user_email {
  border: none;
  width: 100%;
}
#user_password {
  border: none;
  width: 100%;
}

#user_password_confirmation {
  border: none;
  width: 100%;
}

#sign-up-btn {
  width: 100%;
}
