<div class="container">


<p> Votre chiffre d'affaires est égal à <%= @turn_over %> €</p>
<p> Vos cotisations Sociales sont égales à <%= @charge_sociale_vente %> €</p>
<p> Votre taxe sur les chambres Consultaires est égale à <%= @
</div>



