<div class="container">


<p> Votre chiffre d'affaires est égal à <%= @turn_over %> €</p>
<b>Cotisations sociales</b><br />
<p> Vos cotisations Sociales sont égales à <%= @charge_sociale_service %> €</p>
<p>
    <b>Taxe consulaire</b><br />

</p>
<p> Votre taxe sur les chambres consulaires est égale à <%= @taxe_consulaire_service %> €</p>
</div>



