<%= render 'shared/navbar' %>
<%= render '/pages/sidebar' %>
<div class="dashboard-content">
  <div class="container">
    <div class="dashboard-information">
      <%= render "simple_form", miseendemeure: @miseendemeure %>
      <hr>
      <p> L'ajout d'élèments permettra de créer votre lettre de relance.</p>
      <hr>
      <%= link_to "Générer le word", root_path %>
      <br>
    </div>
  </div>
</div>

