« Dénomination sociale »
Société par actions simplifiée
au capital de ..... euros
Siège social :

MODELE DE STATUTS DE SAS

Les soussignés :

Associé(s) personne(s) physique(s)

M.................
né(e) le ..... à ........
demeurant à .........
de nationalité .............

A noter : bien que la SAS soit une société par actions, ses associés ne sont pas appelés « actionnaires ».
Associé(s) personne(s) morale(s)

La Société .......,
Société (forme sociale) au capital de ........ euros
ayant son siège social à ..........
immatriculée au Registre du Commerce et des Sociétés sous le numéro .......... RCS ............
représentée par M............., en qualité de .......... dûment habilité à l'effet des présentes.

Si un préambule est inséré

Ont préalablement exposé ce qui suit

PREAMBULE

.......................
:

A noter : Les associés peuvent, le cas échéant, insérer en tête des statuts un préambule dans lequel ils indiquent les objectifs poursuivis, les motifs de leur association au sein d'une SAS et toute autre information qu'ils jugent utile de donner ici.
Les soussignés ont établi ainsi qu'il suit les statuts d'une Société par actions simplifiée qu'ils sont convenus de constituer entre eux.
TITRE I FORME JURIDIQUE - OBJET - DENOMINATION SOCIALE - SIEGE SOCIAL - DUREE


<h4>Article 1 - Forme</h4>
:

Clause obligatoire.
La société est une société par actions simplifiée régie par les dispositions légales applicables et par les présents statuts.

Elle fonctionne indifféremment sous la même forme avec un ou plusieurs associés.

Elle ne peut faire appel public à l'épargne.


<h4>Article 2 - Objet</h4>
:

Clause obligatoire.
La société a pour objet en France et à l'étranger :

- .................
:

Décrire de façon la plus large et la plus étendue l'activité de la Société pour éviter de nombreuses modifications statutaires en cours de vie sociale.
- la participation de la société, par tous moyens, à toutes entreprises ou sociétés créées ou à créer, pouvant se rattacher à l'objet social, notamment par voie de création de sociétés nouvelles, d'apport, commandite, souscription ou rachat de titres ou droits sociaux, fusion, alliance ou association en participation ou groupement d'intérêt économique ou de location gérance ;

- et plus généralement, toutes opérations industrielles, commerciales et financières, mobilières et immobilières pouvant se rattacher directement ou indirectement à l'objet social et à tous objets similaires ou connexes pouvant favoriser son extension ou son développement.


<h4>Article 3 - Dénomination sociale</h4>
:

Clause obligatoire.
La dénomination sociale de la société est : ...............

Et pour sigle : ........

Tous les actes, factures, annonces, publications et autres documents émanant de la Société doivent indiquer la dénomination sociale, précédée ou suivie immédiatement des mots «Société par actions simplifiée» ou des initiales «S.A.S.» et de l'énonciation du montant du capital social.
:

Après avoir vérifié la disponibilité de la dénomination choisie auprès de l'INPI, indiquer celle-ci.

<h4>Article 4 - Siège social</h4>
:

Clause obligatoire.
Le siège social de la société est fixé à :
:

Le siège social détermine notamment la loi applicable et la compétence des juridictions en cas de litige.
En cas de transfert du siège social sur décision du Président (ou du Comité de direction)

Il peut être transféré en tout autre lieu par décision du ......... (Président ou Comité de direction) qui est habilité à modifier les statuts en conséquence.

En cas de transfert sur décision du Président (ou du Comité de direction) soumis à ratification des associés.

Il peut être transféré en tout autre endroit par décision du ...... (Président ou Comité de direction) qui est habilité à modifier les statuts en conséquence. Toutefois, la décision devra être ratifiée par la plus proche décision collective des associés.


<h4>Article 5 - Durée</h4>
:

Clause obligatoire.
La société est constituée pour une durée de .......... ans qui commence à courir à compter du jour de son immatriculation au Registre du Commerce et des Sociétés.
:

La durée maximale est de 99 ans.
Cette durée peut être prorogée, une ou plusieurs fois, par décision collective des associés prise un an au moins avant la date d'expiration de la société, sans que cette prorogation puisse excéder 99 ans.

Les décisions de dissolution anticipée de la société sont prises dans les mêmes formes et dans le même délai que ceux indiqués ci-dessus.

TITRE II APPORTS - CAPITAL SOCIAL - FORME DES ACTIONS - DROITS ET OBLIGATIONS ATTACHES AUX ACTIONS


<h4>Article 6 - Apports</h4>
:

Clause obligatoire.
Les soussignés ont fait les apports suivants à la société :
:

A noter : Dans les SAS, les apports en industrie ne sont pas admis. Seuls sont autorisés les apports en numéraire et en nature.1.
Apports en numéraire

- M.........., une somme en numéraire de .......... (montant en lettres) euros, ci .............. (montant en chiffres) euros.

- La société .............., une somme en numéraire de .......... (montant en lettres) euros, ci .............. (montant en chiffres) euros.

Soit au total la somme de ..... euros.

En cas de libération intégrale des apports

Soit au total la somme de ....... euros, correspondant à ...... actions de ...... (Valeur nominale) euros, souscrites en totalité et intégralement libérées ainsi que l'atteste le certificat du dépositaire établi le ...... par la Banque ...........
:

A noter : Les actions représentant les apports en numéraire doivent être libérées d'au moins la moitié lors du dépôt des fonds en banque, la libération du surplus devant intervenir dans les 5 ans à compter de l'immatriculation de la société.
Cette somme de ....... euros a été déposée le ...... à ladite banque pour le compte de la Société en formation.

2. Apports en nature

- En cas d'apport d'un fonds de commerce

Apport d'un fonds de commerce

M....... (ou : la société...........), aux termes d'un acte d'apport en date du......... ci-annexé, a fait apport à la société, sous les garanties ordinaires de fait et de droit de l'ensemble des éléments corporels et incorporels d'un fonds de commerce de "nature du fonds" sis et exploité "adresse du fonds de commerce" et évalué........... €.

En rémunération de cet apport, M....... (ou : la société.......) se voit attribuer........... actions de....... € chacune, intégralement libérées.

- En cas d'apport de biens autres qu'un fonds de commerce

Apport de biens divers
:

Clause obligatoire.
M............ apporte à la Société, sous les garanties ordinaires de fait et de droit, les biens ci-après désignés :

- ......

- .......
:

Description détaillée des biens en nature apportés : origine des biens, titre de propriété et tous les éléments permettant leur identification.
Ces biens ont été estimés à la somme globale de.... euros selon un rapport établi le .... par M........, Commissaire aux apports choisi parmi les Commissaires aux comptes inscrits et désigné par ordonnance de M. le Président du Tribunal de commerce de ...... le ......... sur requête de M............ agissant en qualité de fondateur de la société.
Ce rapport, dont un exemplaire est annexé aux présentes, a été déposé à l’adresse prévue du siège social.
:

Les apports en nature sont obligatoirement évalués par un commissaire aux apports. Celui-ci rédige un rapport d'évaluation dont 2 exemplaires doivent figurer dans le dossier de demande d'immatriculation de la Société.
En rémunération de l'apport en nature ci-dessus désigné, M....... (ou la société......) s'est vu attribuer ..... actions d'un montant de ..... chacune, dont la valeur correspond au montant de l'évaluation de son apport.

3. Apport en industrie

La Société peut émettre des actions en rémunération des apports en industrie.
Ces actions sont émises sans valeur nominale et ne sont pas prises en compte pour la formation du capital social.
Les actions représentatives des apports en industrie disposent des mêmes droits que les autres actions émises par la Société, et notamment le droit de participer aux décisions collectives et de percevoir des dividendes.
Les actions en industrie sont attribuées à titre personnel. Elles ne peuvent être cédées et son annulées en cas de décès de leur titulaire comme en cas de cessation des prestations dues par ce dernier.
La valeur des actions en industrie sera régulièrement évaluée tous les ………………..et pour la première fois dans un délai de …………………………….à compter de leur émission dans les conditions de l’article L 225-8 du Code de commerce.


4. Récapitulation des apports

- Apports en numéraire : ..... (montant en lettres) euros, ci .... (montant en chiffres) euros.

- Apports en nature : ... (Montant en lettres) euros, ci ..... (Montant en chiffres) euros.

Total des apports formant le capital social : ........ (Montant en lettres) euros, ci ......... (montant en chiffres) euros.


<h4>Article 7 - Capital social</h4>
:

Clause obligatoire.
Le capital social est fixé à la somme de ...............(montant en lettres et en chiffres) euros.

Il est divisé en ......... actions de ...............euros chacune, de même catégorie, numérotées de 1 à ......, attribuées aux associés en proportion de leurs apports, à savoir :
:

A noter : Le présent modèle de statuts ne vise que les SAS dont les actions sont toutes de même catégorie. Toutefois, les statuts de SAS, comme ceux de la SA, peuvent prévoir la création d'actions de préférence ; c'est-à-dire des actions conférant à leurs titulaires des droits particuliers. Mais en pratique, rares sont les SAS prévoyant la création de telles actions dans leurs statuts.
- M..........., à concurrence de............ actions, numérotées de ... à ..., en rémunération de ses apports, ci ............................................ actions

- La société............, à concurrence de ..................... actions, numérotées de ... à ...,

en rémunération de ses apports, ci ............................................ actions

Total égal au nombre d'actions composant le capital social, ci............................................. ... actions.

En cas de libération totale du capital (apports en numéraire et en nature)

Les associés déclarent que ces actions sont réparties entre eux dans les proportions ci-dessus indiquées et qu'elles sont toutes souscrites et libérées intégralement.

En cas de libération partielle du capital (apports en numéraire et en nature)

Les associés déclarent que ces actions sont réparties entre eux dans les proportions ci-dessus indiquées et qu'elles sont toutes souscrites. Les...... actions numérotées de ......... à........... représentant les apports en numéraire sont libérées de......... . La libération du surplus interviendra sur décision du président (ou : du Comité de direction), en une ou plusieurs fois dans un délai de 5 ans à compter de l'immatriculation de la société au registre du commerce et des sociétés.

Les ...... actions numérotées de ... à ... représentant les apports en nature sont intégralement libérées.
