<div class="container">
  <h2> Les démarches à effectuer</h2>
  <%= cl_image_tag "lettre", width: 400, height:200, class:"img-demarche" %>
  <br>
    <p>Une fois que le Cerfa est prérempli, il reste deux choses à faire : </p>
     <ul>
       <li>Copie de la carte d'identité</li>
       <li> Envoyer ton Cerfa et ta copie de carte d'indentité au Centre de Formalité des entreprises du département où ton entreprise est localisée.</li>
       <li>Accompagner cet envoi de la copie de ton diplôme, si tu appartiens à une activité réglémentée</li>
     </ul>
     <p>Pour toutes autres informations, tu peux joindre notre service après-vente ! </p>
     <p> Bonne chance pour la gestion de ton entreprise !</p>
     <p>Fais attention aux obligations comptables et fiscales !</p>
</div>

