<!-- JavaScript Bundle with Popper -->
<footer class="bg-primary fixed-bottom py-3">
  <div class="container">
    <div class="row">
      <div class="col-1">
        <div class="col-12 col-lg-2 mb-4 mb-lg-0 text-center text-lg-left">
          <%= link_to "/" , class: "navbar-brand" do %>
            <%= image_tag "logo.svg", width: 40 %>
          <% end %>
        </div>
      </div>
      <div class="col-6 text-right">
        <p class="text-white title">Mon-Autoentreprise© 2021 -  All rights reserved</p>
      </div>
      <div class="col-3 text-right">
        <i class="fab fa-twitter-square text-white fa-2x me-auto ml-3"></i>
        <i class="fab fa-facebook-square text-white fa-2x ml-3"></i>
        <i class="fab fa-linkedin text-white fa-2x ml-3"></i>
      </div>
    </div>
  </div>
</footer>
