<!-- JavaScript Bundle with Popper -->
<footer class="bg-light bottom footer">
  <div class="row footer-row justify-content-between">
    <div class="col-3 text-center">
      <div class="footer-brand">
        <%= link_to "Mon Auto-Entreprise", "/",  class: "nav-brand" %>
      </div>
    </div>
    <div class="col-6  text-center">
      <p class=" title text-muted">Mon-Autoentreprise © <%= Time.now.year %> -  Tous droits réservés</p>
    </div>
    <div class="col-3 text-center ">
      <i class="fab fa-twitter text-footer fa-lg ml-auto px-2 "></i>
      <i class="fab fa-facebook-f text-footer fa-lg  ml-auto px-2 "></i>
      <i class="fab fa-linkedin-in text-footer fa-lg  ml-auto px-2"></i>
    </div>
  </div>
</footer>
