   <!-- JavaScript Bundle with Popper -->
<footer class="bg-primary fixed-bottom">
  <div class="container">
    <div class="row">
      <p class="text-white">just me</p>
      <i class="fas fa-facebook-f"></i>
      <i class="fas fa-instagram"></i>
      <i class="fas fa-twitter"></i>
      <i class="fas fa-linkedin text-white"></i>
      <p class="small text-whhite mb-0">Mon-autoentreprise© 2021. All rights reserved.</p>
    </div>
  </div>
</footer>
