<%= render 'shared/navbar_sansachat' %>
<%= render '/pages/sidebar' %>
<div class="dashboard-content">
  <div class="container">
    <div class="dashboard-information">
      <%= render "simple_form", clients: @client, locals: { user: @user } %>

      <p> L'ajout de Client permettra de calculer votre chiffre d'affaires.</p>
      <hr>
      <%= link_to "Remplissez vos factures", new_invoice_path %>
    </div>
  </div>
</div>

