<div class="col  sidebar bg-primary  mt-5 fixed-top">
  <div class="nav-link py-3">
    <%= link_to services_path, class: "nav-link sidebar-link" do  %>
      <i class="fas fa-concierge-bell pr-1 text-white"></i>
      Services
    <% end %>
  </div>
  <div class="nav-link py-4">
    <a class="sidebar-link py-3" href="#"> <i class="fas fa-address-card pr-2"></i>Mes Informations</a>
  </div>
  <div class="nav-link  py-4">
    <a class="sidebar-link" href="#"> <i class="fa fa-calculator pr-2"></i>Mes Charges</a>
  </div>
  <div class="nav-link py-4">
    <a class="sidebar-link" href="#"> <i class="fas fa-file-invoice pr-2"></i> Générer une Facture</a>
  </div>
  <div class="nav-link  py-4">
    <a class="sidebar-link" href="#"><i class="fas fa-history pr-2"></i>Mes Démarches</a>
  </div>
  <div class="nav-link  py-4">
    <a class="sidebar-link" href="#"> <i class="fas fa-bell pr-2"></i>Mes Notifications</a>
  </div>
</div>
