<div class="col  sidebar bg-primary  mt-5 fixed-top">
  <div class="nav-link py-3">
    <a class="text-white sidebar-link" href="/dashboard/services"> <i class="fas fa-concierge-bell pr-1 text-white"></i>  Mes Services</a>
    <%= link_to "Mes services", services_path, class: "nav-link text-white sidebar-link" %>
  </div>
  <div class="nav-link py-4">
    <a class="text-white sidebar-link" href="#"> <i class="fas fa-info pr-3 text-white"></i>Mes Informations</a>
  </div>
  <div class="nav-link py-3">
    <a class="text-white sidebar-link" href="calculate"> <i class="fa fa-calculator pr-2 text-white"></i>Mes Charges</a>
  </div>
  <div class="nav-link py-3">
    <a class="text-white sidebar-link" href="/dashboard/invoices/new"> <i class="fas fa-file-invoice pr-2 text-white"></i> Générer une Facture</a>
  </div>
  <div class="nav-link py-3">
    <a class="text-white sidebar-link" href="#">Mes Démarches</a>
  </div>
  <div class="nav-link py-3">
    <a class="text-white sidebar-link" href="#"> <i class="fas fa-bell pr-2 text-white"></i>Mes Notifications</a>
  </div>
</div>
