

<div class="container-fluid bg-grey">

 <div class="row">
  <div class="col-sm-7">
<h2>Mon autoentreprise</h2>

<br>
<p>Le site qui vous aide à réaliser toutes les démarches administratives pour votre auto entreprises</p>

<%= link_to "Je me lance", "#", class: "btn btn-link" %>

</div>
  <div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

</div>
</div>
</div>
</div>
<div class="jumbotron">
  <h4>Pourquoi nous rejoindre?</h4>
  <p class="presentation">L'équipe de Mon auto entreprise vous accompagne dans les démarches administratives et la gestion de votre société.</p>
</div>
<div class="container-fluid bg-grey">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  </div>
