

<div class="container">

 <div class="row"
<h1>Mon autoentreprise</h1>
<p>Le site qui vous aide à réaliser toutes les démarches administratives pour votre auto entreprises</p>
<link_to 'Je me lance' class="btn btn-link">
</div>
<div class="row">

</div>
</div
