<div class="container-fluid px-0">
  <div class="row">
    <%= render 'sidebar' %>
    <div class="dashboard-content">
      <div class="dashboard-information">
        <p>Créer son activité</p>
        <p>Modifier son activité</p>
        <p>Cesser son activité</p>
      </div>
    </div>
  </div>
</div>
