<%= render 'shared/navbar' %>
<%= render '/pages/sidebar' %>
<div class="dashboard-content">
  <div class="container">
    <div class="dashboard-information">
      <%= render "simple_form", devi: @devi  %>
      <hr>

      <p> L'ajout de devis permettra de calculer votre chiffre d'affaires.</p>

      <hr>
      <%= link_to "Back to index", root_path %>
    </div>
  </div>
</div>

