#frame_container {
  background-color: #dcebf9;
  padding:20px;
  height:500px;
}


#container_presentation {
  background-color: #dcdcdc;
  padding:20px;
  height:500px;
}

.img {
  padding-top:100px;
}

#collection {
  padding-left:80px;
}

#title {padding-top: 100px;
  padding-left: 70px;}

#img-demarche{
  display: block;
  margin-left: auto;
  margin-right: auto
}
