.dashboard-container {
  min-height: 100vh;
  background-color: #eeeeee;
  position: relative;
  width: 100%;
  top: -6px;
}

.sidebar {
  bottom: 0;
  left: 0;
  top: 35px;
  min-height: 100vh;
  position: fixed;
  padding-top: 20px;
  width: 17vw;
  z-index: 1;
}

.sidebar-link {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
}

table {
  margin: 10px 0 40px 0;
}
.form-container {
  padding: 15px 250px 15px 350px;
  width: 85vw;
}
