.dashboard-content {
  padding: 15vh 0 15px 0;
  margin-left: 350px;
}
.dashboard-information {
  padding-left: 100px;
}
.form-control {
  border: none;
  width: 600px;
  margin-left: 15px;
}
h2 {
  color: #167ffb;
}
