.sidebar {
  bottom: 0;
  left: 0;
  top: 35px;
  min-height: 100vh;
  position: fixed;
  padding-top: 20px;
  width: 17vw;
  z-index: 1;
}

.sidebar-link {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
}

.dashboard-content {
  padding: 7px 0 15px 0;
  margin-left: 350px;
}
.form-control {
  border: none;
  width: 600px;
  margin-left: 15px;
}
h2 {
  color: #167ffb;
}

.dashboard-information {
  padding-left: 100px;
}
