.dropdown-toggle::after {
  content: none;
}

#login {
  margin-right: 6px;
}

.navbar {
  padding: 3rem 8rem;
  height: 0;
  min-height: 10vh;
  margin-bottom: 10vh;
}

.navbar > .nav-brand {
  color: #edae2f;
  font-family: "Pacifico", cursive;
  font-size: 2.2rem;
}

.navbar > .nav-brand:hover {
  text-decoration: none;
  color: #0275d8;
}

#login-btn {
  color: #0275d8;
  border: 2px solid #0275d8;
}
#login-btn:hover {
  background-color: #0275d8;
  border: 2px solid #0275d8;
}
#signup-btn {
  color: #6c757d;
  border: 2px solid #f4ce82;
}
#signup-btn:hover {
  color: #0275d8 !important;
  background-color: #f4ce82 !important;
  border: 2px solid #edae2f;
}
.navbar-expand-lg:hover .navbar-nav:hover .nav-link:hover {
  color: #edae2f !important;
}

#navbar {
  position: fixed;
  transition: top 0.2s;
}
