.tabs-underlined {
  display: flex;
  align-items: center;
  position: sticky;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .8;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}
